
.dark_button{
    background-color: var(--color-gray-500) !important;
}

/*태블릿*/
@media (max-width : 1260px) {
    html{
        --margin-section-board : 90px !important;
    }

    .section01_lib_pt_mainBox_searchBo > form{
        width: 90% !important;
    }
    .SeeMoreButton_lin{
        display: block;
    }
.section01_lib_pt_numList{
    display: none;
}
}

@media (max-width : 550px) {
    .section01_lib_pt_mainBox_searchBo > form > .btn{
        font-size: 13px;
        padding: 12px !important;
    }
}


/*모바일*/
@media (max-width : 760px){
    html{
        --margin-section-board : 60px !important;
    }
    .program_wrap > .inner{
        display: block !important;
    }
    .program_item_tit{
        width: 100%;
        text-align: center;
    }
    .program_item_tit br{
        display: none;
    }
    .index_under_benner_box_button{
        margin: auto !important;
        width: 80% !important;
        border-radius: 12px !important;
        margin-top: 24px !important;
    }
    .section01_lib_pt_mainBox_searchBox_Input{
        width: 40% !important;
    }
    .section01_lib_pt_mainBox_searchBo > form{
        display: flex !important;
        justify-content: space-between !important;
    }
   .section01_lib_pt_subNav_box{
    display: flex !important;
    justify-content: space-around;
   }
   .section01_lib_pt_thead{
    display: none;
   }
   .section01_lib_pt_tbody_td:nth-child(4){
    display: none;
   }
   .section01_lib_pt_tbody_td:nth-child(1){
    width: 50px !important;
   }
   .section01_lib_pt_tbody_td:nth-child(2){
    text-align: left;
    width: 60% !important;
    padding-left: 24px;
   }
   .section01_lib_pt_tbody_td:nth-child(5){
        display: none !important;
   }
   .section01_lib_pt_tbody_td{
    font-size: 13px !important;
   }
   .section_title{
    font-size: 26px !important;
   }
}